.cart-address-page {
  background: #f7f3eb;
  padding: 30px;
}
.cart-add-steps {
 display: flex;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 36px;
    margin-top: -5px;
    margin-left: 357px;
}
.cart-add-steps .active {
  color: orange;
  font-weight: 600;
}
.cart-address-card {
  display: flex;
  gap: 20px;
  padding: 0px 16px;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.cart-address-card.active {
  border: 2px solid #1e7f6d;
}

.cart-address-card h4 {
  margin: 0;
  color: #1e7f6d;
}

.cart-add-address-btn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: 2px dashed #1e7f6d;
  background: transparent;
  color: #1e7f6d;
  font-weight: bold;
  cursor: pointer;
}
.cart-add-left h2{
     margin-top: -10px;
    font-size: 20px;
    margin-left: 8px;
}
.cart-add-content {
  display: flex;
  gap: 30px;
}

/* Left */
.cart-add-left {
  flex: 2;
}
.address-actions {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.cmpltd{
  color:green ;
  font-weight: 600;
}
