.hero-container {
  background: #F7F3EB;
  padding: 90px 0;
}

.hero-content {
     max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0px 76px;
    margin-top: -20px;
}

.hero-left {
  flex: 1;
  margin-top: -90px;
}

.tag-box {
  display: inline-block;
  background: white;
  padding: 5px 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 14px;
  letter-spacing: 1px;
}

.hero-title {
  margin-top: 20px;
    font-size: 37px;
    line-height: 1.4;
    color: #333;
    font-weight: 450;
    letter-spacing: 1px;
    margin-right: 0px;
}

.hero-title span {
  color: #3b6e52;
}

.hero-desc {
  margin-top: -17px;
  font-size: 14px;
  color: rgb(112, 52, 52);
  line-height: 1.6;
}

.chip-container {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.chip {
  padding: 4px 11px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}


.btn-primary1 {
    padding: 16px 15px;
    background: linear-gradient(to right, #f1e7cb, #e7b63b);
    color: black;
    border: 0.5px solid #a28e8e;
    border-radius: 91px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 30px;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 2px;

 }
  .btn-primary1:hover{
    box-shadow: 3px 3px 7px; 
    transform:translateY(-2px) ;
  }
 .hrlft-info{

    margin-top: 20px;
    margin-right: -48px;
    margin-left: 0px;
    display: flex;
 }

 .small-label2{
    background: #f5e9e9;
    padding: 12px 35px;
    display: inline-block;
    font-size: 13px;
    border-radius: 30px;
    margin-bottom: 21px;
    margin-top: 4px;
    margin-left: 28px;
    border: 1px solid #7f6a6a;
 }
.info{
    display:flex;
    
 }
 .info1{
    width:250px;
    
 }
 .info2{
    width:250px;
    margin-left: 25px;
    
 }
 

.info1 h1{
    font-size : 12px;
    font-weight : 400px;
    margin-left: 11px;
 }

 .info1 p{
   font-size: 10px;
    font-weight: 300px;
    margin-left: 11px;
    letter-spacing: 1px;
    margin-bottom: -59px;
    margin-top: -4px;
 }

 .info2 h1{
    font-size : 12px;
    font-weight : 400px;
    margin-left: 11px;
 }

 .info2 p{
   font-size: 10px;
    font-weight: 300px;
    margin-left: 11px;
    letter-spacing: 1px;
    margin-bottom: -59px;
    margin-top: -4px;
 }

/* RIGHT SIDE IMAGE */
.hero-right {
  position: relative;
    flex: 1;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 41px;
}

.hero-image {
  width: 100%;
  height: 500px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.7);
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  
}

.left { left: 15px; }
.right { right: 15px; }

.image-label {
  position: absolute;
  bottom: 20px;
  left: 25px;
  background: rgba(30,30,30,0.7);
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}
.trusted-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.trusted-bar {
  width: 90%;
  background: #fff;
  border: 1px solid #eae6df;
  padding: 11px 28px;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.trusted-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #263238;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.dot {
  width: 10px;
  height: 10px;
  background: #53a650;
  border-radius: 50%;
}

.trusted-right {
    display: flex;
    gap: 22px;
    font-size: 12px;
    color: #897e7e;
}

.trusted-right span {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .hero-container {
  background: #F7F3EB;
        padding: 117px 0;
        width: 112%;
}

.hero-content {
                max-width: 1200px;
        margin: auto;
        display: flex;
        gap: 50px;
        align-items: center;
        padding: 15px 47px;
        margin-top: 0px;
        flex-direction: column;
        margin-left: -50px;
        margin-right: 36px;
}

.hero-left {
  flex: 1;
  margin-top: -90px;
}

.tag-box {
display: inline-block;
        background: white;
        padding: 11px 26px;
        border-radius: 30px;
        border: 1px solid #ddd;
        font-size: 18px;
        letter-spacing: 1px;;
}

.hero-title {
  margin-top: 20px;
        font-size: 49px;
        line-height: 1.4;
        color: #333;
        font-weight: 450;
        letter-spacing: 1px;
        margin-right: 0px;
}

.hero-title span {
  color: #3b6e52;
}

.hero-desc {
         margin-top: -17px;
        font-size: 20px;
        color: rgb(112, 52, 52);
        line-height: 1.6;
    }


.chip-container {
  margin-top: 27px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.chip {
 padding: 4px 18px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 20px;
    font-size: 19px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    letter-spacing: 0.5px;
}


.btn-primary1 {
    padding: 21px 14px;
    background: linear-gradient(to right, #f1e7cb, #e7b63b);
    color: black;
    border: 0.5px solid #a28e8e;
    border-radius: 91px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 550;
    margin-left: 0px;
    margin-right: 18px;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 2px;
    margin-top: 10px;
    margin-bottom: 18px;

 }
  .btn-primary1:hover{
    box-shadow: 3px 3px 7px; 
    transform:translateY(-2px) ;
  }
 .hrlft-info{

    margin-top: 20px;
    margin-right: -48px;
    margin-left: 0px;
    display: flex;
 }

 .small-label2{
    background: #f5e9e9;
        padding: 15px 25px;
        display: inline-block;
        font-size: 18px;
        border-radius: 95px;
        margin-bottom: 21px;
        margin-top: 15px;
        margin-left: 28px;
        border: 1px solid #7f6a6a;
 }
.info{
            display: flex;
        margin-bottom: 30px;
    
 }
 .info1{
    width:250px;
    
 }
 .info2{
    width:250px;
    margin-left: 25px;
    
 }
 

.info1 h1{
            font-size: 19px;
        font-weight: 400px;
        margin-left: 11px;
 }

 .info1 p{
   font-size: 12px;
        font-weight: 400px;
        margin-left: 11px;
        letter-spacing: 0.5px;
        margin-bottom: -60px;
        margin-top: -7px;
 }

 .info2 h1{
    font-size : 19px;
    font-weight : 400px;
    margin-left: 11px;
 }

 .info2 p{
   font-size: 12px;
        font-weight: 400px;
        margin-left: 11px;
        letter-spacing: 0.5px;
        margin-bottom: -60px;
        margin-top: -8px;
 }

/* RIGHT SIDE IMAGE */
.hero-right {
       position: relative;
        flex: 1;
        margin-top: 30px;
        margin-right: 0px;
        margin-left: 7px;
}

.hero-image {
          width: 100%;
        height: 620px;
        border-radius: 25px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.7);
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  
}

.left { left: 15px; }
.right { right: 15px; }

.image-label {
  position: absolute;
  bottom: 20px;
  left: 25px;
  background: rgba(30,30,30,0.7);
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}
.trusted-wrapper {
         width: 100%;
        display: flex;
        justify-content: center;
        margin: 40px 0px;
        margin-right: 0px;
        margin-left: -22px;
}

.trusted-bar {
  width: 95%;
        background: #fff;
        border: 1px solid #eae6df;
        padding: 17px 15px;
        border-radius: 999px;
        display: block;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        margin-right: 27px;
}

.trusted-left {
          display: flex;
        align-items: center;
        gap: 8px;
        color: #263238;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 500;
        margin-left: 80px;
        margin-top: 0px;
        margin-bottom: 13px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #53a650;
  border-radius: 50%;
}

.trusted-right {
    display: flex;
        gap: 20px;
        font-size: 13px;
        color: #897e7e;
        margin-left: 68px;
}

.trusted-right span {
  white-space: nowrap;
}
}