/* html, body {
  width: 100%;
  overflow-x: hidden;
} */




/* TOP STRIP */
.top-strip {
  background: #0E3A22;
  color: white;
  text-align: center;
  padding: 8px 0;
  letter-spacing: 1px;
  font-size: 14px;
}

/* NAVBAR */
.navbar-wrapper {
  width: 100%;
  background: #ece4d7;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom:  1px solid #423434;
  
}

/* LOGO */
.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  height: 50px;
  width: 50px;
  background: #11326F;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 2px 3px 15px  rgb(2, 2, 82);
  margin-left: 9px;
}

.logo-text h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 450;
  margin-left: 13px;
  font-family: 'Montserrat', sans-serif;
  color:rgb(41, 54, 41);
  letter-spacing: 2.5px;
  position: relative;
}

.logo-text p {
  margin: -3px 0 0 0;
    font-size: 12px;
    color: #777;
    letter-spacing: 1px;
    margin-left: 15px;
  
}

/* NAV LINKS */
.nav-links {
     list-style: none;
    display: flex;
    gap: 30px;
    font-size: 15px;
    font-weight: 500;
    padding-right: 24px;
    padding-left: 33px;
    margin-left: 0px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.2s;
}

.nav-links li:hover {
  color: #0b9449;
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 18px;
}
.nav-search {
  display: flex;
     margin-right: 23px;
}
.nav-search input {
   width: 185px;
    padding: 12px 23px;
    border-radius: 72px;
    border: 1px solid #bdb6ab;
    font-size: 14px;
    outline: none;
    background: #ffffff
}


.nav-search input::placeholder {
  color: #777;
}

.nav-search input:focus {
  border-color: #2a5835;
}
.search-icon {
   position: absolute;
        right: 245px;
    top: 67%;
    transform: translateY(-50%);
    color: #333;
    pointer-events: none;
}
.cart-navbar .search-icon {
    position: absolute;
    right: 188px;
    top: 67%;
    transform: translateY(-50%);
    color: #333;
    pointer-events: none;
}
.cart-navbar .nav-links li:hover {
  color: #944d0b;
}
/* .nav-icons {
      display: flex;
    align-items: center;
    gap: 33px;
    font-size: 25px;
    color: #1f2f2a;
    cursor: pointer;
    margin-left: 40px;
    padding-left: 10px;
    margin-right: -70px;
}
.red{
    color: rgb(183, 5, 5);
}
.cart-icon {
  position: relative;
      margin-top: 5px;
      color: rgb(8, 114, 30);
      font-size: 30px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #e85b5b;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
} */

.nav-icons {
  display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 0px;
    margin-right: 15px;
}

.icon {
  position: relative;
  color: #1f2f3f;
  cursor: pointer;
   
}

.icon svg {
  display: block;
}

.badge .count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #f26b5b;
  color: white;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 50%;
  font-weight: 600;
}
.badge {
     padding: 5px 7px;
    border-radius: 24px;
    font-size: 14px;
    cursor: "pointer" ;
}
/* BUTTONS */
.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* .ai-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #bbb;
  background: white;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}

.ai-btn:hover {
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.shop-btn {
    padding: 13px 11px;
    border-radius: 77px;
    color: black;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #f1d798, #bd922a);
    font-weight: 500;
    transition: 0.3s ease;
    box-shadow: 1px 2px 5px;
}

.shop-btn:hover {
  transform: translateY(-3px);
  box-shadow: 1px 5px 10px; */
/* } */
.hamburger {
  display: none;
}
/* ========================= */
/* MOBILE RESPONSIVE STYLES */
/* ========================= */

@media (max-width: 768px) {

  .navbar-wrapper {
           width: 126%;
        padding: -11px;
        margin-left: -90px;
        margin-top: -92px;
  }
  /* TOP STRIP */
  .top-strip {
    font-size: 20px;
    padding: 8px 10px;
    background: #0E3A22;
    color: rgb(206, 221, 170);
    text-align: center;
    letter-spacing: 3px;
  
  }

  /* NAVBAR */
  .navbar {
    flex-wrap: wrap;
    padding: 12px 15px;
  }

  /* LOGO */
  .logo-circle {
       height: 80px;
        width: 80px;
        font-size: 36px;
        margin-left: 30px;
  }

  .logo-text h2 {
        font-size: 44px;
        letter-spacing: 4.5px;
        margin-left: 20px;
        color: rgb(41, 54, 41);
        font-weight: 400;
  }

  .logo-text p {
        font-size: 19px;
        margin-left: 24px;
        letter-spacing: 3.5px;
        color: rgb(41, 54, 41);
  }
  /* HIDE NAV LINKS INITIALLY */
  .nav-links {
    width: 100%;
    flex-direction: column;
    gap: 18px;
    padding: 15px 0;
    display: none;
    background: #ece4d7;
  }

  .nav-links li {
    text-align: center;
    font-size: 16px;
  }

  /* SHOW NAV LINKS WHEN ACTIVE */
  .nav-links.active {
    display: flex;
  }

  /* BUTTONS */
  .nav-buttons {
        width: 100%;
        justify-content: center;
        gap: 66px;
        margin-left: 473px;
        margin-bottom: -30px;
        margin-top: -124px;
  }

  .ai-btn {
    padding: 8px 22px;
        font-size: 14px;
        display: none;
  }

  .shop-btn {
    padding: 25px 24px;
      font-size: 26px;
      font-weight: 600;
      border: 0.5px solid #a28e8e;
  }
  /* HAMBURGER ICON */
  .hamburger {
        display: block;
        cursor: pointer;
        font-size: 44px;
        margin-right: -815px;
    }
  
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 100px;
  }
  .nav-search input {
        width: 156px;
        padding: 10px 10px;
        border-radius: 72px;
        border: 1px solid #bdb6ab;
        font-size: 14px;
        outline: none;
        background: #ffffff;
}
.search-icon {
        position: absolute;
        right: 260px;
        top: 71%;
        transform: translateY(-50%);
        color: #333;
        pointer-events: none;

}
.nav-search {
    display: flex;
    margin-right: 8px;
}

.cart-navbar .search-icon {
            position: absolute;
        right: 250px;
        top: 71%;
        transform: translateY(-50%);
        color: #333;
        pointer-events: none;
}
.cart-navbar .nav-links li:hover {
  color: #944d0b;
}
/* DESKTOP: HIDE HAMBURGER */
}
