.pd-container{
  display:flex;
  gap:60px;
  padding:60px 80px;
}

.pd-left{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  border: 1px solid black;
  height: 370px;
}

.pd-left img{
    width: 95%;
    object-fit: cover;
    /* margin-bottom: 130px; */
    height: 92%;

}

.pd-right{
  flex:1;
}
.pd-right-content{
    padding-left: 40px;
}

.pd-right h1{
      font-size: 35px;
    margin-bottom: 2px;
    letter-spacing: 1px;
}

.pd-right-content .pd-wght{
    font-size: 20px;
    font-weight: 200;
    font-style: oblique;
}
.pd-sub{
  font-size: 19px;
    color: #666;
    margin-bottom: 0px;
    margin-top: 5px;
    letter-spacing: 1px;
    margin-left: 3px;
}

.pd-price{
  margin:15px 0;
  display:flex;
  gap:15px;
  align-items:center;
}

.pd-mrp{
  font-size: 23px;
    letter-spacing: 1px;
    font-weight: 600;
    color: green;
    margin-left: 5px;
}


.pd-final{
  font-size:23px;
  font-weight:600;
}

.pd-qty{
  display:flex;
  align-items:center;
  gap:20px;
  margin:10px 0;
  margin-bottom: 20px;
}

.pd-qty button{
  width:45px;
  height:45px;
  font-size:20px;
  border:1px solid #ddd;
  background:white;
  cursor:pointer;
}

.pd-qty span{
  font-size:20px;
  width:30px;
  text-align:center;
}

.pd-btn{
   padding: 14px 18px;
    border-radius: 24px;
    border: 1px solid #b8c7b6;
    background: #f7fdf4;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 600;
  margin-bottom:20px;
  margin-top: 30px;
  font-size:16px;
}

.pd-desc{
  font-size:17px;
  line-height:1.7;
  color:#333;
}
