.terms-container {
  max-width: 900px;
  margin: 0px auto;
  padding: 30px;
  background: #fffdf6;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
  color: #3a3a3a;
}

.terms-title {
  text-align: center;
  font-size: 32px;
  color: #0f766e;
  margin-bottom: 10px;
  margin-top: 0px;
}

.terms-updated {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.terms-container p {
  line-height: 1.7;
  margin-bottom: 16px;
}

.terms-container section {
  margin-bottom: 28px;
}

.terms-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1f2937;
}

.contact-box {
  background: #f0fdf4;
  padding: 20px;
  border-radius: 8px;
  border-left: 5px solid #22c55e;
}

.contact-box span {
  font-weight: 600;
  color: #0f766e;
}

/* Responsive */
@media (max-width: 768px) {
  .terms-container {
    margin: 20px;
    padding: 25px;
  }

  .terms-title {
    font-size: 26px;
  }
}
