.ad-charts{
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap:20px;
  margin-top:20px;
}

/* CARD */
.ad-card{
  background:#fff;
  padding:20px;
  border-radius:20px;
  box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

/* GRAPH HEADER */
.ad-graph-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}

.ad-card h3{
  font-size:18px;
  color:#222;
}

/* FILTERS */
.ad-filters{
  display:flex;
  gap:8px;
}

.ad-filters button{
  padding:6px 14px;
  border-radius:20px;
  border:1px solid #ccefc7;
  background:#f5fff2;
  cursor:pointer;
  font-size:13px;
  color:#3aaa35;
  font-weight:600;
  transition:0.2s;
}

.ad-filters button:hover{
  background:#e3fbdc;
}

.ad-filters button.active{
  background:#3aaa35;
  color:white;
  border-color:#3aaa35;
}

/* SIZES */
.ad-graph{
  height:350px;
}

.ad-pie{
  height:350px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
