/* *{
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  margin:0;
  background:#f6fff2;
  padding: 0px;
} */

.ad-app{
  display:flex;
  height:100vh;
}

.ad-main{
  flex:1;
  padding:20px;
  padding-top: 25px;
}

.ad-cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

.ad-card{
  padding:20px;
  border-radius:18px;
  font-weight:bold;
  font-size:18px;
}

.ad-card small{
  display:block;
  font-size:13px;
  font-weight:normal;
  margin-top:5px;
}

.green{background:#d9f5d1}
.purple{background:#eadcff}
.yellow{background:#fff4c2}
.red{background:#ffd6d6}


.ad-content{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:15px;
  margin-top:20px;
}

.ad-box{
  background:#fff;
  border-radius:18px;
  padding:20px;
  height:220px;
  box-shadow:0 2px 5px rgba(0,0,0,0.05);
}


.ad-table-box{
  background:#fff;
  margin-top:20px;
  border-radius:18px;
  padding:20px;
  box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

.ad-table-box h3{
  margin-bottom:15px;
}

table{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}

th,td{
  padding:12px;
  text-align:left;
}

th{
  background:#f2f2f2;
}

tr{
  border-bottom:1px solid #eee;
}

.done{color:green;font-weight:bold}
.pending{color:orange;font-weight:bold}
.cancel{color:red;font-weight:bold}


@media(max-width:1000px){
  .cards{grid-template-columns:repeat(2,1fr)}
  .content{grid-template-columns:1fr}
}

@media(max-width:600px){
  .sidebar{display:none}
  .cards{grid-template-columns:1fr}
  .topbar input{width:180px}
}
