.ad-topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.ad-topbar input{
  padding:10px 18px;
  width:320px;
  border-radius:25px;
  border:1px solid #ccc;
  outline:none;
}

.ad-profile{
  background:#e1f5d6;
  padding:8px 16px;
  border-radius:20px;
  font-size:14px;
}

.ad-welcome{
  margin:20px 0;
  font-weight:600;
}
